flask==1.1.2
flask_restful
pandas
unidecode
beautifulsoup4
language-check
pycontractions
pyspellchecker
gensim
contractions
lxml
spacy
textblob
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz#egg=en_core_web_lg
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz#egg=en_core_web_mb
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
spark-nlp
textacy
psutil
flair
deeppavlov
#python3 -m textblob.download_corpora
